*{
    margin: 0;
    padding: 0;
}
body{
    
    background: rgb(136, 83, 136);
    height: 100vh;
}
#createForm{
    display: none;
    background: rgb(116, 52, 116);
    width: 25rem;
    height: 10rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0px 0px 14px -3px rgba(0,0,0,1) ;
}

#create-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

#create-form input[type="text"]{
    background: transparent;
    box-shadow: 0px 0px 14px -3px rgba(0,0,0,1) inset;
    border: none;
    text-align: center;
    border-radius: 4px;
    height: 20px;
    width: 12rem;
    margin-bottom: 1rem;
    
}
#create-form input[type="submit"] {
    background: transparent;
    box-shadow: 0px 0px 14px -3px rgba(0,0,0,1) ;
    border: none;
    text-align: center;
    border-radius: 5rem;
    height: 30px;
    width: 6rem;
    margin-bottom: -1rem;
    cursor: pointer;
}
#joinForm{
    display: none;
    background: rgb(116, 52, 116);
    width: 25rem;
    height: 10rem;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    box-shadow: 0px 0px 14px -3px rgba(0,0,0,1) ;
}

#join-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

#join-form input[type="text"]{
    background: transparent;
    box-shadow: 0px 0px 14px -3px rgba(0,0,0,1) inset;
    border: none;
    text-align: center;
    border-radius: 4px;
    height: 20px;
    width: 12rem;
    margin-bottom: 1rem;
    
}
#join-form input[type="submit"] {
    background: transparent;
    box-shadow: 0px 0px 14px -3px rgba(0,0,0,1) ;
    border: none;
    text-align: center;
    border-radius: 5rem;
    height: 30px;
    width: 6rem;
    margin-bottom: -1rem;
    cursor: pointer;
}



#circle{
    width: 100%;
    height: 100vh;
    background:  rgb(136, 83, 136);
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.btn-1{
    width: 10rem;
    height: 14rem;
    background: rgb(81, 57, 81);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: 0px 0px 14px -3px rgba(0,0,0,1) ;
}
.btn-2{
    background: rgb(81, 57, 81);
    border-top-right-radius:1rem;
    width: 10rem;
    height: 14rem;
    border-bottom-right-radius: 1rem;
    box-shadow: 0px 0px 14px -3px rgba(0,0,0,1) ;
}

#control{
   
    display: none;
    height: 14rem;
    width: 18rem;
    background: rgb(136, 83, 136);
   
}

  #in{
    box-shadow: 0px 0px 14px -3px rgba(0,0,0,1);
    background: violet ;
    height: 13rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

#in div{
    cursor: pointer;
   border-radius: 1rem;
    box-shadow: 0px 0px 14px -3px rgba(0,0,0,1) inset ;
    display: flex;
   justify-content: center;
   align-items: center;
    background: rgb(82, 28, 82);
    color: white;
    width: 10rem;
    height: 5rem;

}

#enter{
    box-shadow: 0px 0px 14px -3px rgba(0,0,0,1) ;
    background: rgb(93, 18, 93);
    width: 9rem;
    height: 9rem;
    position: absolute;
    top: 39vh;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#verification{
    width: 8rem;
    height: 5rem;
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#verification input{
 width: 85%;
 height: 30%;
 
}

#verification input[type="text"]{
    background: transparent;
    outline: none;
    border: none;
    text-align: center;
    box-shadow: 0px 0px 14px -3px rgba(0,0,0,1) inset;
    margin-bottom: 1rem;
    
}

#verification input[type="submit"]{
background: transparent;
border: none;
box-shadow: 0px 0px 14px -3px rgba(0,0,0,1);
cursor: pointer;
width: 6rem;
height: 2rem;
}


/* --------------------------lock------------------------------ */
/* :::::::::::::: Presentation css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --unlocked-color: #00db6a;
  --locked-color: #ff5153;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 4rem;
  position: fixed;
  top: 24vh;
  left: 46%;
}
/* :::::::::::::: Required CSS */
/* Locked */
.lock {
  width: 24px;
  height: 21px;
  border: 3px solid var(--locked-color);
  border-radius: 5px;
  position: relative;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  box-shadow: 0px 0px 14px -3px rgba(0,0,0,1);
}
.lock:after {
  content: "";
  display: block;
  background: var(--locked-color);
  width: 3px;
  height: 7px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -3.5px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  box-shadow: 0px 0px 14px -3px rgba(0,0,0,1);
}
.lock:before {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  bottom: 100%;
  position: absolute;
  left: 50%;
  margin-left: -8px;
  border: 3px solid var(--locked-color);
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom: 0;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
  box-shadow: 0px 0px 14px -3px rgba(0,0,0,1);
}
/* Locked Hover */
.lock:hover:before {
  height: 12px;
}
/* Unlocked */
.unlocked {
  transform: rotate(10deg);
  box-shadow: 0px 0px 14px -3px rgba(0,0,0,1);
}
.unlocked:before {
  bottom: 130%;
  left: 31%;
  margin-left: -11.5px;
  transform: rotate(-45deg);
  
}
.unlocked,
.unlocked:before {
  border-color: var(--unlocked-color);
}
.unlocked:after {
  background: var(--unlocked-color);
}
/* Unlocked Hover */
.unlocked:hover {
  transform: rotate(3deg);
}
.unlocked:hover:before {
  height: 10px;
  left: 40%;
  bottom: 124%;
  transform: rotate(-30deg);
}