* {
  padding: 0;
  margin: 0;
}
body {
  height: 100vh;
  background: black;
}

#videos {
  background: transparent;
  position: relative;
  width: 100px;
  height: 100px;
}
#user-1 {
  position: absolute;
  width: 7rem;
  height: 6rem;
  background: transparent;
  top: 3rem;
  left: 3rem;
}
#user-2 {
    
  position: fixed;
  height: 100%;
  width: 100%;
  object-fit: cover;
  background: black;
}

#roomId {
  align-content: center;
}
