*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#videos{
    display: grid;
    grid-template-columns: 1fr;
    height: 100vh;
    overflow:hidden;
}

.video-player{
    background-color: black;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#user-2{
    display: none;
}

.smallFrame{
    position: fixed;
    top: 20px;
    left: 20px;
    height: 150px;
    width: 200px;
    border-radius: 5px;
    border:2px solid #575558;
    -webkit-box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.77);
    box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.77);
    z-index: 999;
}


#controls{
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform:translateX(-50%);
    display: flex;
    gap: 1em;
}


.control-container{
  background-color: transparent;
  padding: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  /* box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.77); */
  transition: box-shadow 0.4s, background-color 0.4s;
}

.control-container:hover{
    box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.77);
}
.control-container img{
    border-image-slice: fill;
    height: 30px;
    width: 30px;     
    
}



#leave-btn{
    background-color: transparent;
    transition: box-shadow 0.4s;
}

@media screen and (max-width:600px) {
        .smallFrame{
            height: 80px;
            width: 120px;
        }

        .control-container img{
            height: 20px;
            width: 20px;
        }
}

#remote-details {
    color: white;
    width: 150px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    position: absolute;
    top: 2vh;
    left: 50%;
    background: transparent;
    box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.77) inset;
    box-sizing: border-box;
    overflow: hidden;
    border-radius: 10px;
    border:2px solid #949494;
  }
  
  #remote-details span {
    box-shadow: 3px 3px 15px -1px rgba(0,0,0,0.77);
    margin: 2px;
    width: fit-content;
    background: transparent;
    max-width: rem; /* Set a maximum width for the span */
    height: 1rem;
    box-sizing: border-box;
    display: block;
    /* Hide the overflow content */
    white-space: nowrap;
    border-radius: 2px;
      color: white;
    
  }

  





